* {
    margin: 0;
    padding: 0;
}

/*
    width/height
    margin/padding
    border/outline
    div
    float
    transform
    overflow
    hover
*/
/* 
.block {
    margin: 50px;
    margin-left: 50px;
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: orange;
    border: 5px dashed green;
    outline: 1px solid blue;
} */

/* .block {
    width: 200px;
    height: 200px;
    background: orange;
    float: left;
} */

/* img {
    float: right;
} */

/* .container {
    clear: both;
    width: 100%;
    height: 200px;
    background: purple;
}

.second {
    float: right;
} */


/* .container {
    width: 500px;
    height: 300px;
    background: silver;
    overflow-y: auto;
    overflow-x: hidden;
}


.block {
    width: 200px;
    height: 400px;
    background: orange;
} */

/* .block {
    margin: 150px;
    width: 200px;
    height: 200px;
    background: orange; */
    /* transform: rotate(30deg) translate(200px) scale(1.5) skew(20deg, 40deg) ; */
    /* transform: translate(200px) rotate(30deg) scale(1.5) skew(20deg, 40deg) ; */
    /* transform: rotate(30deg) scale(1.5) skew(20deg, 40deg) translate(200px); */
    /* transform: scale(1.5); */

    /* transform: rotate(57deg); */
    /* transform: scale(2, 3); */
    /* transform: skew(-15deg); */
    /* transform: translate(50px, -100px); */
/* } */

/* 
    rotate - 30deg
    scale - 1.5
    skew - 20deg, 40deg
    translate - 200px
*/


.block {
    margin: 150px;
    width: 200px;
    height: 200px;
    background: orange;
    cursor: pointer;
    transition: 0.5s;
}

.block:hover {
    /* transform: rotate(90deg) translate(100px); */
    /* transform: translate(100px) rotate(720deg); */
    /* transform: rotate(720deg); */
    /* transform: scale(1.1); */
    color: white;
    background: green;
    border-radius: 10px;
}

.block:hover p {
    transition: 1s;
    /* text-align: center; */
    transform: translate(50%);
}

